extends ../template/layout.pug

block var
  -
    const
    title = '🥇 VivoBox CrossFit Murcia ®',
    metaDescription = 'Box oficial de CrossFit en Murcia con entrenadores certificados ✅ Prueba auténticos ejercicios y WOD y olvida imitaciones y gimnasios convencionales.',
    index = true

block kids