extends ../template/layout.pug

block var
  -
    const
    title = '🥇 Clínica de Logopedia 【 Logopedas en Murcia 】',
    metaDescription = 'llll➤ Evaluación, diagnóstico intervención y tratamiento ✅ de distintos trastornos del lenguaje oral y escrito.',
    url = 'logopedas-murcia',
    img = 'img/equipo-clinica-martinez-marcos.jpg',
    menuItems = [
      { name: 'Servicios', link: 'servicios' },
      { name: 'Nosotros', link: 'nosotros' },
      { name: 'Equipo', link: 'equipo' },
      { name: 'Características', link: 'caracteristicas' },
      { name: 'Precios', link: 'precios' },
    ],
    serviciosItems = [
      { header: 'Rehabilitación o Estimulación de Lenguaje', body: '<p>Intervención centrada en la estimulación del lenguaje en el caso de retrasos o trastornos específicos del mismo tratándose todos los aspectos del lenguaje: prerrequisitos, léxico-semántico, morfosintaxis, pragmática, lectura y escritura.</p>' },
      { header: 'Rehabilitación de Alteraciones de Habla y/o Aparatobucofonatorio · Terapia Miofuncional', body: '<p>Disciplina en la que se emplean un conjunto de técnicas y ejercicios para prevenir, valorar y tratar alteraciones que las que el habla se vea comprometida, como Malformaciones faciales y/o craneofaciales, Síndromes congénitos, Parálisis cerebral, Trastornos degenerativos y neurológico (Parkinson, Alzheimer, ELA, parálisis faciales, afectación de pares craneales, etc).Trastornos y/o postoperatorios linguales, laríngeos, o maxilofaciales.</p>' },
      { header: 'Trastornos de Fluidez', body: '<p>La disfemia o tartamudez se trata de un trastorno del habla, al contrario de lo que se piensa no es de lenguaje ya que la dificultad se encuentra en la movilidad de los músculos bucofonadores. La disfemia, puede comprometer o dificultar otros aspectos cotidianos como el social y emocional llegando a limitar la vida del que lo sufre. Esto puede corregirse con terapia logopédica centrada en el establecimiento de un nuevo patrón de habla posible, a cualquier edad.</p>' },
      { header: 'Audición', body: '<p>Intervenimos de forma interdisciplinar con otros profesionales para la evaluación, diagnóstico y tratamiento de las patologías del oído en todas las edades; problemas de audición, Tinnitus, y cualquier otro tipo de trastorno asociado.</p>' },
      { header: 'Trastornos de la Lectoescritura', body: '<p>La lectoescritura es un proceso constructivo y complejo que se debe adquirir a edades tempranas. Muchos niños presentan dificultades o trastornos de origen neurológico que les impeden aprender y automatizar la lectoescritura. En dichos casos, realizamos una evaluación e intervención en trastornos como la dislexia, disgrafia o discalculia, para evitar la aparición de retraso escolar en esas áreas.</p>' },
      { header: 'Trastornos de Voz', body: '<p>Realizamos prevención, evaluación y rehabilitación de todos los trastornos de la voz tanto de origen funcional como orgánico en población infantil y adulta.</p>' },
      { header: 'Vendaje Neuromuscular Aplicado a Logopedia', body: '<p>Es una técnica de reeducación neuromuscular que actúa sobre el sistema tegumentario actuando a nivel cerebral y pudiendo ayudar a corregir un amplio abanico de alteraciones relacionadas con la voz, el habla y la deglución. Los resultados con esta técnica son tanto inmediatos como a largo plazo.</p>' },
    ],
    equipoItems = [
      {
        img: 'img/juan-jose-martinez-marcos.jpg',
        name: 'Juan José Martínez Marcos',
        profesion: 'Psicólogo Especialista',
        profesionalNumber: 'Nº Colegiado Psicología: MU-907<br>Nº Colegiado Logopedia: LR-034',
        skills: [
          'Licenciado en Psicología por la Universidad de Murcia.',
          'Psicólogo Clínico y de Salud.',
          'Especialista en Psicoterapia por la EFPA (European Federation of Physchologist\'s Associations).',
          'Habilitado logopeda por el colegio profesional de Logopedas de La Rioja.',
          'Especialista en psicología de las adicciones.',
          'Profesor asociado de prácticas de la Universidad de Murcia (UMU). Psicología y Logopedia.',
          'Profesor asociado de prácticas por la Universidad Internacional de Valencia (VIU). Máster en Psicología Sanitaria y Máster de Logopedia.',
        ]
      },
    ],
    preciosItems = [
      { header: 'Sesión Individual', minuts: '30', price: '20€', icon: 'comment-medical', class: 'col-sm-8 col-md-6' },
    ],
    horarioDias = 'Lunes - Viernes',
    horarioHoras = '16:30 - 21:00',
    tlfLlamar = '968 11 13 64',
    tlfWhatsApp = '968 11 13 64',
    email = 'clinicamartinezmarcos@gmail.com'

block headerContent
  h1
    span.text-secondary Clínica de Logopedia
    br
    span.text-primary Logopedas en Murcia
  p.lead Tu salud en las mejores manos

block ofertas
block aseguradoras
block resenas