extends ../template/layout.pug

block var
  -
    const
    title = '🥇 Clínica de Psiquiatría 【 Psiquiatras en Murcia 】',
    metaDescription = 'llll➤ Evaluación, diagnóstico intervención y tratamiento de distintos trastornos psiquiátricos ✅ a lo largo del ciclo vital.',
    url = 'psiquiatras-murcia',
    img = 'img/modesto-jesus-sanchez-lopez.jpg',
    menuItems = [
      { name: 'Equipo', link: 'equipo' },
    ],
    equipoItems = [
      {
        img: 'img/modesto-jesus-sanchez-lopez.jpg',
        name: 'Modesto Jesús Sánchez López',
        profesion: 'Psiquiatra',
        profesionalNumber: 'Nº de Colegiado Psiquiatría: 30/3008551',
        skills: [
          'Licenciado en medicina. Facultad de Medicina de Granada Especialidad en Psiquiatría. Hospital General Universitario Reina Sofía de Murcia.',
          'Participación en el proyecto de investigación “Mecanismos Moleculares implicados en la Etiología de la Dependencia a Múltiples Sustancias: Interacciones genético-ambientales, análisis epigenético y expresión del gen SLCC6A4” hasta Julio 2016. Atención al paciente agitado en salud mental. International Review of Psysicosis &amp; Bipolarity.',
          'Trastornos de la conducta alimentaria y obesidad.',
          'Drogadicción: Evaluación rehabilitación y tratamiento. Aspectos clínicos en el diagnóstico y tratamiento de la depresión. Actualización.',
          'Curso Universitario de Psicopatología.',
          'Especialista Universitario en Trastornos Esquizoafectivos.',
          'Atualización neurofarmacológica y clínica en patología dual.',
          'International Course on the Detection, Assessment and Management of Agitation in Clinical Practice.',
          'Asociación Mundial de Psiquiatría. Fases iniciales de la psicosis.',
          'Terapia electroconvulsiva.',
          'Numerosas comunicaciones a congresos.',
          'Atención al paciente agitado en salud mental.',
        ]
      },
    ],
    tlfLlamar = '661 793 169',
    tlfWhatsApp = '661 793 169'

block headerContent
  h1
    span.text-secondary Clínica de Psiquiatría
    br
    span.text-primary Psiquiatras en Murcia
  p.lead Tu salud en las mejores manos

block servicios
block nosotros
block caracteristicas
block precios
block ofertas
block aseguradoras
block resenas