extends ../../template/layout.pug

block var
  -
    const
    title = 'Fotos VivoBox CrossFit Murcia',
    noindex = true

block header
block content
  section.py-5
    .container(data-showup)
      h1 Fotos
      .fotos
        a(href='/wp-content/uploads/crossfit-murcia.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/crossfit-murcia-300x200.jpg' alt='crossfit-murcia' data-srcset='/wp-content/uploads/crossfit-murcia-300x200.jpg 300w, /wp-content/uploads/crossfit-murcia-768x512.jpg 768w, /wp-content/uploads/crossfit-murcia.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/back-squad-pesas-crossfit.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/back-squad-pesas-crossfit-300x200.jpg' alt='back-squad-pesas-crossfit' data-srcset='/wp-content/uploads/back-squad-pesas-crossfit-300x200.jpg 300w, /wp-content/uploads/back-squad-pesas-crossfit-768x512.jpg 768w, /wp-content/uploads/back-squad-pesas-crossfit.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/jose-antonio-sanchez-mora.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/jose-antonio-sanchez-mora-300x300.jpg' alt='jose-antonio-sanchez-mora' data-srcset='/wp-content/uploads/jose-antonio-sanchez-mora-300x300.jpg 300w, /wp-content/uploads/jose-antonio-sanchez-mora-768x768.jpg 768w, /wp-content/uploads/jose-antonio-sanchez-mora.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-05_20-32-03.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-32-03-300x300.jpg' alt='16-04-05_20-32-03' data-srcset='/wp-content/uploads/16-04-05_20-32-03-300x300.jpg 300w, /wp-content/uploads/16-04-05_20-32-03-768x768.jpg 768w, /wp-content/uploads/16-04-05_20-32-03.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-13_13-00-47.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-13_13-00-47-300x200.jpg' alt='16-04-13_13-00-47' data-srcset='/wp-content/uploads/16-04-13_13-00-47-300x200.jpg 300w, /wp-content/uploads/16-04-13_13-00-47-768x512.jpg 768w, /wp-content/uploads/16-04-13_13-00-47.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-26-48.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-26-48-300x200.jpg' alt='16-05-16_11-26-48' data-srcset='/wp-content/uploads/16-05-16_11-26-48-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-26-48-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-26-48.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-13_12-32-02.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-13_12-32-02-300x200.jpg' alt='16-04-13_12-32-02' data-srcset='/wp-content/uploads/16-04-13_12-32-02-300x200.jpg 300w, /wp-content/uploads/16-04-13_12-32-02-768x512.jpg 768w, /wp-content/uploads/16-04-13_12-32-02.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-13_12-38-46.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-13_12-38-46-300x200.jpg' alt='16-04-13_12-38-46' data-srcset='/wp-content/uploads/16-04-13_12-38-46-300x200.jpg 300w, /wp-content/uploads/16-04-13_12-38-46-768x512.jpg 768w, /wp-content/uploads/16-04-13_12-38-46.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-42-37.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-42-37-300x200.jpg' alt='16-05-16_11-42-37' data-srcset='/wp-content/uploads/16-05-16_11-42-37-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-42-37-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-42-37.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-06-58.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-06-58-300x200.jpg' alt='16-05-16_12-06-58' data-srcset='/wp-content/uploads/16-05-16_12-06-58-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-06-58-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-06-58.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-24-55.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-24-55-300x200.jpg' alt='16-05-16_12-24-55' data-srcset='/wp-content/uploads/16-05-16_12-24-55-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-24-55-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-24-55.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-29-06.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-29-06-300x200.jpg' alt='16-05-16_12-29-06' data-srcset='/wp-content/uploads/16-05-16_12-29-06-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-29-06-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-29-06.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-40-53.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-40-53-300x200.jpg' alt='16-05-16_12-40-53' data-srcset='/wp-content/uploads/16-05-16_12-40-53-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-40-53-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-40-53.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_13-19-31.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_13-19-31-300x200.jpg' alt='16-05-16_13-19-31' data-srcset='/wp-content/uploads/16-05-16_13-19-31-300x200.jpg 300w, /wp-content/uploads/16-05-16_13-19-31-768x512.jpg 768w, /wp-content/uploads/16-05-16_13-19-31.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/manos-magnesio-crossfit.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/manos-magnesio-crossfit-300x200.jpg' alt='manos-magnesio-crossfit' data-srcset='/wp-content/uploads/manos-magnesio-crossfit-300x200.jpg 300w, /wp-content/uploads/manos-magnesio-crossfit-768x512.jpg 768w, /wp-content/uploads/manos-magnesio-crossfit.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/clases-crossfit.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/clases-crossfit-300x200.jpg' alt='clases-crossfit' data-srcset='/wp-content/uploads/clases-crossfit-300x200.jpg 300w, /wp-content/uploads/clases-crossfit-768x512.jpg 768w, /wp-content/uploads/clases-crossfit.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-03-11_17-35-26.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-03-11_17-35-26-200x300.jpg' alt='16-03-11_17-35-26' data-srcset='/wp-content/uploads/16-03-11_17-35-26-200x300.jpg 200w, /wp-content/uploads/16-03-11_17-35-26.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-04-05_20-34-40.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-34-40-200x300.jpg' alt='16-04-05_20-34-40' data-srcset='/wp-content/uploads/16-04-05_20-34-40-200x300.jpg 200w, /wp-content/uploads/16-04-05_20-34-40.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-05-16_11-05-28.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-05-28-300x200.jpg' alt='16-05-16_11-05-28' data-srcset='/wp-content/uploads/16-05-16_11-05-28-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-05-28-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-05-28.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-26-53.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-26-53-300x200.jpg' alt='16-05-16_11-26-53' data-srcset='/wp-content/uploads/16-05-16_11-26-53-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-26-53-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-26-53.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-32-15.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-32-15-300x200.jpg' alt='16-05-16_11-32-15' data-srcset='/wp-content/uploads/16-05-16_11-32-15-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-32-15-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-32-15.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-32-35.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-32-35-300x200.jpg' alt='16-05-16_11-32-35' data-srcset='/wp-content/uploads/16-05-16_11-32-35-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-32-35-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-32-35.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-53-05.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-53-05-300x200.jpg' alt='16-05-16_11-53-05' data-srcset='/wp-content/uploads/16-05-16_11-53-05-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-53-05-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-53-05.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-17-07.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-17-07-300x200.jpg' alt='16-05-16_12-17-07' data-srcset='/wp-content/uploads/16-05-16_12-17-07-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-17-07-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-17-07.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-25-05.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-25-05-300x200.jpg' alt='16-05-16_12-25-05' data-srcset='/wp-content/uploads/16-05-16_12-25-05-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-25-05-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-25-05.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-29-22.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-29-22-300x200.jpg' alt='16-05-16_12-29-22' data-srcset='/wp-content/uploads/16-05-16_12-29-22-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-29-22-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-29-22.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-43-02.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-43-02-300x200.jpg' alt='16-05-16_12-43-02' data-srcset='/wp-content/uploads/16-05-16_12-43-02-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-43-02-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-43-02.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_13-26-10.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_13-26-10-300x200.jpg' alt='16-05-16_13-26-10' data-srcset='/wp-content/uploads/16-05-16_13-26-10-300x200.jpg 300w, /wp-content/uploads/16-05-16_13-26-10-768x512.jpg 768w, /wp-content/uploads/16-05-16_13-26-10.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/sentadilla-crossfit.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/sentadilla-crossfit-300x300.jpg' alt='sentadilla-crossfit' data-srcset='/wp-content/uploads/sentadilla-crossfit-300x300.jpg 300w, /wp-content/uploads/sentadilla-crossfit-768x768.jpg 768w, /wp-content/uploads/sentadilla-crossfit.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/ejercicios-crossfit-murcia.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/ejercicios-crossfit-murcia-300x200.jpg' alt='ejercicios-crossfit-murcia' data-srcset='/wp-content/uploads/ejercicios-crossfit-murcia-300x200.jpg 300w, /wp-content/uploads/ejercicios-crossfit-murcia-768x512.jpg 768w, /wp-content/uploads/ejercicios-crossfit-murcia.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-03-11_17-37-23.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-03-11_17-37-23-300x200.jpg' alt='16-03-11_17-37-23' data-srcset='/wp-content/uploads/16-03-11_17-37-23-300x200.jpg 300w, /wp-content/uploads/16-03-11_17-37-23-768x512.jpg 768w, /wp-content/uploads/16-03-11_17-37-23.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-05_20-36-40.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-36-40-300x200.jpg' alt='16-04-05_20-36-40' data-srcset='/wp-content/uploads/16-04-05_20-36-40-300x200.jpg 300w, /wp-content/uploads/16-04-05_20-36-40-768x512.jpg 768w, /wp-content/uploads/16-04-05_20-36-40.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-05-41.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-05-41-300x200.jpg' alt='16-05-16_11-05-41' data-srcset='/wp-content/uploads/16-05-16_11-05-41-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-05-41-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-05-41.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-28-12.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-28-12-200x300.jpg' alt='16-05-16_11-28-12' data-srcset='/wp-content/uploads/16-05-16_11-28-12-200x300.jpg 200w, /wp-content/uploads/16-05-16_11-28-12.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-04-13_13-13-50.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-13_13-13-50-200x300.jpg' alt='16-04-13_13-13-50' data-srcset='/wp-content/uploads/16-04-13_13-13-50-200x300.jpg 200w, /wp-content/uploads/16-04-13_13-13-50.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-05-16_11-34-20.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-34-20-300x200.jpg' alt='16-05-16_11-34-20' data-srcset='/wp-content/uploads/16-05-16_11-34-20-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-34-20-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-34-20.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-55-28.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-55-28-300x200.jpg' alt='16-05-16_11-55-28' data-srcset='/wp-content/uploads/16-05-16_11-55-28-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-55-28-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-55-28.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-20-40.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-20-40-300x200.jpg' alt='16-05-16_12-20-40' data-srcset='/wp-content/uploads/16-05-16_12-20-40-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-20-40-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-20-40.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-27-41.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-27-41-300x200.jpg' alt='16-05-16_12-27-41' data-srcset='/wp-content/uploads/16-05-16_12-27-41-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-27-41-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-27-41.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-31-54.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-31-54-300x200.jpg' alt='16-05-16_12-31-54' data-srcset='/wp-content/uploads/16-05-16_12-31-54-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-31-54-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-31-54.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-46-58.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-46-58-300x200.jpg' alt='16-05-16_12-46-58' data-srcset='/wp-content/uploads/16-05-16_12-46-58-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-46-58-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-46-58.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/entrenamiento-vivobox-crossfit.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/entrenamiento-vivobox-crossfit-300x200.jpg' alt='entrenamiento-vivobox-crossfit' data-srcset='/wp-content/uploads/entrenamiento-vivobox-crossfit-300x200.jpg 300w, /wp-content/uploads/entrenamiento-vivobox-crossfit-768x512.jpg 768w, /wp-content/uploads/entrenamiento-vivobox-crossfit.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/entrenamiento-crossfit.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/entrenamiento-crossfit-200x300.jpg' alt='entrenamiento-crossfit' data-srcset='/wp-content/uploads/entrenamiento-crossfit-200x300.jpg 200w, /wp-content/uploads/entrenamiento-crossfit.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-03-11_17-37-53.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-03-11_17-37-53-219x300.jpg' alt='16-03-11_17-37-53' data-srcset='/wp-content/uploads/16-03-11_17-37-53-219x300.jpg 219w, /wp-content/uploads/16-03-11_17-37-53.jpg 746w' data-sizes='(max-width: 219px) 100vw, 219px')
        a(href='/wp-content/uploads/16-04-05_20-39-17.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-39-17-300x200.jpg' alt='16-04-05_20-39-17' data-srcset='/wp-content/uploads/16-04-05_20-39-17-300x200.jpg 300w, /wp-content/uploads/16-04-05_20-39-17-768x512.jpg 768w, /wp-content/uploads/16-04-05_20-39-17.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-08-55.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-08-55-300x200.jpg' alt='16-05-16_11-08-55' data-srcset='/wp-content/uploads/16-05-16_11-08-55-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-08-55-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-08-55.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-30-11.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-30-11-300x200.jpg' alt='16-05-16_11-30-11' data-srcset='/wp-content/uploads/16-05-16_11-30-11-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-30-11-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-30-11.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-13_12-27-16.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-13_12-27-16-300x200.jpg' alt='16-04-13_12-27-16' data-srcset='/wp-content/uploads/16-04-13_12-27-16-300x200.jpg 300w, /wp-content/uploads/16-04-13_12-27-16-768x512.jpg 768w, /wp-content/uploads/16-04-13_12-27-16.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-36-53.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-36-53-300x200.jpg' alt='16-05-16_11-36-53' data-srcset='/wp-content/uploads/16-05-16_11-36-53-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-36-53-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-36-53.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-03-19.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-03-19-300x200.jpg' alt='16-05-16_12-03-19' data-srcset='/wp-content/uploads/16-05-16_12-03-19-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-03-19-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-03-19.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-21-38.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-21-38-200x300.jpg' alt='16-05-16_12-21-38' data-srcset='/wp-content/uploads/16-05-16_12-21-38-200x300.jpg 200w, /wp-content/uploads/16-05-16_12-21-38.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-05-16_12-27-42.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-27-42-300x300.jpg' alt='16-05-16_12-27-42' data-srcset='/wp-content/uploads/16-05-16_12-27-42-300x300.jpg 300w, /wp-content/uploads/16-05-16_12-27-42-768x768.jpg 768w, /wp-content/uploads/16-05-16_12-27-42.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-37-04.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-37-04-300x200.jpg' alt='16-05-16_12-37-04' data-srcset='/wp-content/uploads/16-05-16_12-37-04-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-37-04-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-37-04.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_13-06-13.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_13-06-13-300x200.jpg' alt='16-05-16_13-06-13' data-srcset='/wp-content/uploads/16-05-16_13-06-13-300x200.jpg 300w, /wp-content/uploads/16-05-16_13-06-13-768x512.jpg 768w, /wp-content/uploads/16-05-16_13-06-13.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_13-29-05.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_13-29-05-300x200.jpg' alt='16-05-16_13-29-05' data-srcset='/wp-content/uploads/16-05-16_13-29-05-300x200.jpg 300w, /wp-content/uploads/16-05-16_13-29-05-768x512.jpg 768w, /wp-content/uploads/16-05-16_13-29-05.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/box-crossfit-murcia.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/box-crossfit-murcia-300x200.jpg' alt='box-crossfit-murcia' data-srcset='/wp-content/uploads/box-crossfit-murcia-300x200.jpg 300w, /wp-content/uploads/box-crossfit-murcia-768x512.jpg 768w, /wp-content/uploads/box-crossfit-murcia.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/entrenamiento-crossfit-reventado.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/entrenamiento-crossfit-reventado-300x200.jpg' alt='entrenamiento-crossfit-reventado' data-srcset='/wp-content/uploads/entrenamiento-crossfit-reventado-300x200.jpg 300w, /wp-content/uploads/entrenamiento-crossfit-reventado-768x512.jpg 768w, /wp-content/uploads/entrenamiento-crossfit-reventado.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-05_20-07-32.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-07-32-200x300.jpg' alt='16-04-05_20-07-32' data-srcset='/wp-content/uploads/16-04-05_20-07-32-200x300.jpg 200w, /wp-content/uploads/16-04-05_20-07-32.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-04-05_20-59-46.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-59-46-300x200.jpg' alt='16-04-05_20-59-46' data-srcset='/wp-content/uploads/16-04-05_20-59-46-300x200.jpg 300w, /wp-content/uploads/16-04-05_20-59-46-768x512.jpg 768w, /wp-content/uploads/16-04-05_20-59-46.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-08-59.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-08-59-300x200.jpg' alt='16-05-16_11-08-59' data-srcset='/wp-content/uploads/16-05-16_11-08-59-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-08-59-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-08-59.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-30-49.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-30-49-300x200.jpg' alt='16-05-16_11-30-49' data-srcset='/wp-content/uploads/16-05-16_11-30-49-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-30-49-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-30-49.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-05_20-18-58.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-18-58-300x200.jpg' alt='16-04-05_20-18-58' data-srcset='/wp-content/uploads/16-04-05_20-18-58-300x200.jpg 300w, /wp-content/uploads/16-04-05_20-18-58-768x512.jpg 768w, /wp-content/uploads/16-04-05_20-18-58.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-38-29.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-38-29-300x200.jpg' alt='16-05-16_11-38-29' data-srcset='/wp-content/uploads/16-05-16_11-38-29-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-38-29-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-38-29.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-05_20-58-54.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-58-54-300x200.jpg' alt='16-04-05_20-58-54' data-srcset='/wp-content/uploads/16-04-05_20-58-54-300x200.jpg 300w, /wp-content/uploads/16-04-05_20-58-54-768x512.jpg 768w, /wp-content/uploads/16-04-05_20-58-54.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-21-46.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-21-46-300x300.jpg' alt='16-05-16_12-21-46' data-srcset='/wp-content/uploads/16-05-16_12-21-46-300x300.jpg 300w, /wp-content/uploads/16-05-16_12-21-46-768x768.jpg 768w, /wp-content/uploads/16-05-16_12-21-46.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-28-44.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-28-44-200x300.jpg' alt='16-05-16_12-28-44' data-srcset='/wp-content/uploads/16-05-16_12-28-44-200x300.jpg 200w, /wp-content/uploads/16-05-16_12-28-44.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-05-16_12-39-17.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-39-17-300x200.jpg' alt='16-05-16_12-39-17' data-srcset='/wp-content/uploads/16-05-16_12-39-17-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-39-17-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-39-17.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_13-06-39.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_13-06-39-200x300.jpg' alt='16-05-16_13-06-39' data-srcset='/wp-content/uploads/16-05-16_13-06-39-200x300.jpg 200w, /wp-content/uploads/16-05-16_13-06-39.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/barra-pesas-crossfit.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/barra-pesas-crossfit-300x200.jpg' alt='barra-pesas-crossfit' data-srcset='/wp-content/uploads/barra-pesas-crossfit-300x200.jpg 300w, /wp-content/uploads/barra-pesas-crossfit-768x512.jpg 768w, /wp-content/uploads/barra-pesas-crossfit.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/francisco-jose-gallego-molina.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/francisco-jose-gallego-molina-300x300.jpg' alt='francisco-jose-gallego-molina' data-srcset='/wp-content/uploads/francisco-jose-gallego-molina-300x300.jpg 300w, /wp-content/uploads/francisco-jose-gallego-molina-768x768.jpg 768w, /wp-content/uploads/francisco-jose-gallego-molina.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-05_20-31-52.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-05_20-31-52-300x200.jpg' alt='16-04-05_20-31-52' data-srcset='/wp-content/uploads/16-04-05_20-31-52-300x200.jpg 300w, /wp-content/uploads/16-04-05_20-31-52-768x512.jpg 768w, /wp-content/uploads/16-04-05_20-31-52.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-04-13_12-49-24.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-04-13_12-49-24-300x169.jpg' alt='16-04-13_12-49-24' data-srcset='/wp-content/uploads/16-04-13_12-49-24-300x169.jpg 300w, /wp-content/uploads/16-04-13_12-49-24-768x432.jpg 768w, /wp-content/uploads/16-04-13_12-49-24.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-10-42.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-10-42-300x200.jpg' alt='16-05-16_11-10-42' data-srcset='/wp-content/uploads/16-05-16_11-10-42-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-10-42-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-10-42.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-32-09.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-32-09-300x200.jpg' alt='16-05-16_11-32-09' data-srcset='/wp-content/uploads/16-05-16_11-32-09-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-32-09-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-32-09.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-25-05.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-25-05-300x200.jpg' alt='16-05-16_11-25-05' data-srcset='/wp-content/uploads/16-05-16_11-25-05-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-25-05-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-25-05.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-41-07.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-41-07-300x200.jpg' alt='16-05-16_11-41-07' data-srcset='/wp-content/uploads/16-05-16_11-41-07-300x200.jpg 300w, /wp-content/uploads/16-05-16_11-41-07-768x512.jpg 768w, /wp-content/uploads/16-05-16_11-41-07.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_11-34-03.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_11-34-03-200x300.jpg' alt='16-05-16_11-34-03' data-srcset='/wp-content/uploads/16-05-16_11-34-03-200x300.jpg 200w, /wp-content/uploads/16-05-16_11-34-03.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')
        a(href='/wp-content/uploads/16-05-16_12-22-07.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-22-07-300x200.jpg' alt='16-05-16_12-22-07' data-srcset='/wp-content/uploads/16-05-16_12-22-07-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-22-07-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-22-07.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-28-45.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-28-45-300x200.jpg' alt='16-05-16_12-28-45' data-srcset='/wp-content/uploads/16-05-16_12-28-45-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-28-45-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-28-45.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_12-40-40.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_12-40-40-300x200.jpg' alt='16-05-16_12-40-40' data-srcset='/wp-content/uploads/16-05-16_12-40-40-300x200.jpg 300w, /wp-content/uploads/16-05-16_12-40-40-768x512.jpg 768w, /wp-content/uploads/16-05-16_12-40-40.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
        a(href='/wp-content/uploads/16-05-16_13-18-24.jpg' data-lightbox='gallery')
          img.img-fluid(data-src='/wp-content/uploads/16-05-16_13-18-24-300x200.jpg' alt='16-05-16_13-18-24' data-srcset='/wp-content/uploads/16-05-16_13-18-24-300x200.jpg 300w, /wp-content/uploads/16-05-16_13-18-24-768x512.jpg 768w, /wp-content/uploads/16-05-16_13-18-24.jpg 1024w' data-sizes='(max-width: 300px) 100vw, 300px')
  script(src='/js/simple-lightbox.js')
  script.
    // SimpleLightbox
    const gallery = new SimpleLightbox("[data-lightbox='gallery']")