footer.p-4.text-primary.bg-secondary.text-center
  .container
    .row
      .col-md-12
        span.d-inline-block.m-2
          | © 
          a.text-white(href='https://clinicamartinezmarcos.com/') clinicamartinezmarcos.com
        span.d-inline-block.m-2
          i.fa.fa-fw.fa-pen.d-inline
          |  diseño web 
          a.text-white(href=(index && 'https://seacomoseo.com/diseno-paginas-web') target=(index && '_blank') onclick=(index||"window.open('https://seacomoseo.com/diseno-paginas-web','_blank')") ) seacomoseo.com
        span.d-inline-block.m-2
          i.fa.fa-fw.fa-cookie.d-inline
            |  
          a.text-white(href=(index && 'cookies') onclick=(index || "location.href='cookies'"))
            | política de cookies