- const devMode = false
block var
doctype html
html(lang="es")
  head
    block head
      include head.pug
  body#top
    block nav
      include nav.pug
    block header
      include header.pug
    main#main(role='main')
      block content
        block crossfit
          include ../includes/crossfit.pug
        block entrenamiento
          include ../includes/entrenamiento.pug
        block clases
          include ../includes/clases.pug
        block kids
          include ../includes/kids.pug
        block box
          include ../includes/box.pug
        block entrenadores
          include ../includes/entrenadores.pug
        block horarios
          include ../includes/horarios.pug
        block precios
          include ../includes/precios.pug
        block contacto
          include ../includes/contacto.pug
    block footer
      include footer.pug
    block scripts
      script(src="/js/scripts.js" defer)