nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand(href='/')
      img.align-baseline(src='img/icono.png' alt='icono clínica martínez marcos' width='15' height='15')
      |  
      span.text-secondary.h6 Clínica
      |  
      span.text-primary.h6 Martínez Marcos
    if menuItems
      button.navbar-toggler.navbar-toggler-right.border-0(type='button' data-toggle='collapse' data-target='#navbar4')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar4
        ul.navbar-nav.ml-auto
          each menuItem in menuItems
            li.nav-item: a.nav-link(href=`#${menuItem.link}`)= menuItem.name
          li.nav-item: a.btn.navbar-btn.ml-md-2.btn-light(href='#contacto') Contacto