nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand.h6.mb-0(href='/')
      | VIVOBOX 
      span.text-primary CROSSFIT
    if index
      button.navbar-toggler.navbar-toggler-right.border-0(type='button' data-toggle='collapse' data-target='#navbar')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar
        ul.navbar-nav.ml-auto
          li.nav-item: a.nav-link(href='#crossfit') Crossfit
          li.nav-item: a.nav-link(href='#entrenamiento') Entrenamiento
          li.nav-item: a.nav-link(href='#clases') Clases
          //- li.nav-item: a.nav-link(href='#kids') Kids
          li.nav-item: a.nav-link(href='#box') Box
          li.nav-item: a.nav-link(href='#equipo') Equipo
          li.nav-item: a.nav-link(href='#horarios') Horarios
          li.nav-item: a.nav-link(href='#precios') Precios
          li.nav-item: a.btn.navbar-btn.ml-lg-2.btn-primary(href='#contacto') Contacto
          li.nav-item: a.btn.navbar-btn.ml-lg-2.mt-2.mt-lg-0.btn-info(href='fotos/') Fotos