section.pt-5#caracteristicas
  .container
    .row
      .col-md-12.text-center
        h2.h1.text-secondary Características
        p.mb-4 Lo que nos Diferencia
    .row
      .col-lg-3.col-md-6.py-md-4.px-3.text-left.text-lg-right.d-flex.flex-column.justify-content-between.order-1.order-lg-1(data-showup)
        .row
          .col-md-12
            p.h6.mb-1.text-primary.d-flex.align-items-center
              i.fa.fa-fw.fa-user-graduate.fa-2x.text-secondary.mx-2.order-lg-2
              |  Amplia Formación
        .row
          .col-md-12
            p.h6.mb-1.text-secondary.d-flex.align-items-center
              i.fa.fa-fw.fa-user-cog.fa-2x.text-primary.mx-2.order-lg-2
              |  Exploración de la Demanda del Paciente
        .row
          .col-md-12
            p.h6.mb-1.text-primary.d-flex.align-items-center
              i.fa.fa-fw.fa-user-check.fa-2x.text-secondary.mx-2.order-lg-2
              |  Valoración de la Terapia
      .col-lg-5.col-md-6.p-0.mx-auto.order-3.order-lg-2(data-showup)
        img.img-fluid.d-block(data-src='img/equipo-clinica-martinez-marcos.jpg' alt='equipo clínica martínez marcos')
      .col-lg-3.col-md-6.py-md-4.px-3.text-left.text-lg-left.d-flex.flex-column.justify-content-between.order-2.order-lg-3(data-showup)
        .row
          .col-md-12
            p.h6.mb-1.text-secondary.d-flex.align-items-center
              i.fa.fa-fw.fa-user-clock.fa-2x.text-primary.mx-2.order-0
              |  Seguimiento de la Terapia
        .row
          .col-md-12
            p.h6.mb-1.text-primary.d-flex.align-items-center
              i.fa.fa-fw.fa-user-edit.fa-2x.text-secondary.mx-2.order-0
              |  Adaptación a las Necesidades de la Persona
        .row
          .col-md-12
            p.h6.mb-1.text-secondary.d-flex.align-items-center
              i.fa.fa-fw.fa-user-plus.fa-2x.text-primary.mx-2.order-0
              |  Evaluaciones Psicológicas