section.py-5.text-white.position-relative#entrenamiento(data-style='background-image: url(/wp-content/uploads/entrenamiento-vivobox-crossfit.jpg);')
  .container
    .row
      .col-12(data-showup)
        h2.mb-4.text-uppercase.text-center ¿Es el entrenamiento CrossFit para mí?
      .col-sm-8(data-showup)
        p
          b ¡Sí!
          |  No importa tu edad, ni tu condición física. Es un error muy común creer que hay que tener una base para empezar a hacer CrossFit. Mucha gente intenta entrenar unas semanas por su cuenta antes de venir al 
          a(title='CrossFit Box Murcia' href='/#box') Box en Murcia
          |  y no es necesario. Una de las ventajas del CrossFit es que 
          b se adapta de forma individual a cada persona
          | .
        blockquote
          p Tus necesidades y las del deportista olímpico difieren en grado, pero no en tipo
        p
          cite CrossFit Training Guide
        #descubre-entrenamiento.collapse
          p
            | Desde 
            strong VivoBox CrossFit
            |  afirmamos que esto es totalmente cierto, y te aseguramos que 
            b CrossFit es para todo el mundo
            | , debido a que tú decides el nivel de esfuerzo e intensidad al que tu cuerpo es capaz de trabajar. Por todo ello, independientemente de tu sexo, edad, capacidades, experiencia o forma física actual, seas de iniciación o no, te invitamos a que alcances tu mejor estado de forma a través de CrossFit.
          p El entrenamiento CrossFit es para principiantes y experimentados.
          p El entrenamiento CrossFit es para hombres, mujeres, niños y niñas.
          p La clave la encontramos en trabajar en niveles de alta intensidad relativa a cada individuo; pudiendo adaptar las cargas, los tiempos, las distancias… a través de nuestros coaches certificados CrossFit Level 1 y con una trayectoria en el mundo del deporte de más de 10 años.
        button.btn.btn-outline-light.mt-3.mb-5(type='button' data-toggle='collapse' data-target='#descubre-entrenamiento' aria-expanded='false' aria-controls='descubre')
          | ✚ Ampliar info
      .col-sm-4(data-showup)
        img.img-fluid.img-thumbnail.d-block.mx-auto.mr-md-0(data-src='/wp-content/uploads/entrenamiento-crossfit-200x300.jpg' alt='entrenamiento-crossfit' data-srcset='/wp-content/uploads/entrenamiento-crossfit-200x300.jpg 200w, /wp-content/uploads/entrenamiento-crossfit.jpg 683w' data-sizes='(max-width: 200px) 100vw, 200px')