section.py-5.text-white.position-relative#horarios(data-style='background-image: url(/wp-content/uploads/ejercicios-crossfit-murcia.jpg);')
  .container
    .row
      .col-12(data-showup)
        h2.mb-4.text-uppercase.text-center Horarios
      .col-md-6.col-lg-4(data-showup)
        .overflow-x-scroll
          table.cebreada.text-center.w-100.mb-4
            tbody
              tr
                th Hora
                th L
                th M
                th X
                th J
                th V
                th S
                th D
              tr
                th 7:30
                td W
                td W
                td W
                td W
                td W
                td -
                td -
              tr
                th 9:00
                td W
                td W
                td W
                td W
                td W
                td -
                td -
              tr
                th 10:00
                td W
                td W
                td W
                td W
                td W
                td W
                td W
              tr
                th 11:00
                td O
                td O
                td O
                td O
                td O
                td O
                td O
              tr
                th 12:00
                td W
                td W
                td W
                td W
                td W
                td -
                td -
              tr
                th 13:00
                td O
                td O
                td O
                td O
                td O
                td -
                td -
              tr
                th 14:00
                td W
                td W
                td W
                td W
                td W
                td -
                td -
              tr
                th 15:00
                td W
                td W
                td W
                td W
                td W
                td -
                td -
              tr
                th 16:00
                td O
                td O
                td O
                td O
                td O
                td -
                td -
              tr
                th 17:00
                td O
                td O
                td O
                td O
                td O
                td -
                td -
              tr
                th 18:00
                td W
                td W
                td W
                td W
                td W
                td -
                td -
              tr
                th 19:00
                td W
                td W
                td W
                td W
                td W
                td -
                td -
              tr
                th 20:00
                td W*
                td W*
                td W*
                td W*
                td W*
                td -
                td -
              tr
                th 21:00
                td W*
                td W*
                td W*
                td W*
                td W*
                td -
                td -
      .col-md-6.col-lg-8(data-showup)
        dl.horizontal
          dt W = WOD
          dd(lang='en') Workout Of Day
          dd Entrenamiento del Día
          dt O = OPEN
          dd Entrenamiento Libre
        p *30 plazas de WOD sin posibilidad de OPEN
        p
          | En cada 
          strong clase de CrossFit
          |  hay un número máximo de 
          b 15 plazas
          |  para 
          b WOD
          |  y otras 15 para 
          b OPEN
          |  simultaneamente, ya que se puede reservar 
          b OPEN
          |  en todos los horarios mostrados 
          span(style='text-decoration: underline;') excepto a las 20:00 y 21:00
          | , debido a que habrá el doble de plazas (30) de 
          b WOD
          | .
        p
          | Para asistir a una clase o sesión, es necesario 
          a(title='Reservas' href='https://vivobox.wodbuster.com/athlete/reservas.aspx' target='_blank') reservar
          |  tu plaza con un margen máximo de una hora antes de la misma. No obstante, si surge algún problema o duda al respecto, te atenderemos personalmente en nuestros teléfonos de contacto que facilitamos en la sección de 
          a(title='Contacto y Localización de nuestro Box de CrossFit en Murcia' href='/#contacto') contacto
          | .
        p
          a(href='https://vivobox.wodbuster.com/athlete/reservas.aspx' target='_blank') Si te registras
          | , podrás ver el plan de entrenamiento de CrossFit  diario que vamos marcando.
        p
          | Para poder reservar plaza en una 
          strong clase de CrossFit
          | , es necesario estar registrado. Si aún no lo estás, completa el registro y de manera automática podrás reservar una sesión, puesto que 
          b
            | la primera clase en VivoBox CrossFit es 
            span(style='color: #c3251d;') gratis
          | .
        p
          a.btn.btn-primary.w-100(href='https://vivobox.wodbuster.com/athlete/reservas.aspx' target='_blank')
            | ✔ Reservas
        p
          | En cualquier caso, si así lo prefieres, te invitamos a que vengas a visitar nuestras 
          strong instalaciones de CrossFit
          | , conocer el material del que disponemos y de igual forma 
          a(title='Contacta con nosotros' href='/#contacto') te atenderemos
          |  gustosamente de manera personal en 
          a(title='Box de CrossFit en Murcia' href='/#box') nuestro BOX
          | .