section.py-5.cover.section-parallax.section-light#nosotros(data-style=`background-image: url(${nosotrosBackground || 'img/equipo-clinica-martinez-marcos.jpg'}); background-size: cover;`)
  .container(data-showup)
    .row.mx-auto
      .col-12.col-md-2
      .col-12.col-md-8.my-4.p-4.bg-white.rounded.text-justify
        h2.h1.mb-3.text-center.text-secondary Sobre Nosotros
        block nosotrosContent
          p Somos un equipo de profesionales dedicados a la evaluación, diagnóstico intervención y tratamiento de distintos trastornos psicológicos en lo largo del ciclo vital, desde Atención Temprana hasta la Vejez. Así mismo, evaluamos e intervenimos en Trastornos del lenguaje oral y escrito.
          .collapse#descubre
            p Martínez Marcos es una clínica de asistencia psicológica y logopédica de reciente apertura en el centro de Murcia, no obstante, el Director lleva más de 20 años de experiencia en ambas especialidades.
            p Trabajamos con múltiples aseguradoras con las que puedes pedir cita: ASISA, DKV, TAVAD, ADESLAS, D-SALUS y AZKARÁN. Si no tienes aseguradora, también puedes acudir a la clínica por privado.
            p Ofrecemos terapias personalizadas, profesionalidad en cada sesión, así como el respeto y privacidad de los datos recogidos en cada entrevista realizada a los pacientes. Además, creamos un ambiente cálido y de confianza para que te sientas cómodo y encuentres en nosotros el apoyo que necesitas.
          p.text-center
            button.btn.btn-primary.btn-md.m-2(type='button' data-toggle='collapse' data-target='#descubre' aria-expanded='false' aria-controls='descubre')
              | Más Información 
              i.fa.fa-chevron-right.fa-fw
        if instagramLink
          include siguenos.pug

if !instagramLink
  include siguenos.pug