/* LOREN */
* {
  scroll-behavior: smooth;
}
a.navbar-brand {
  max-width: calc(100% - 78px);
}
a.btn,
button.btn {
  white-space: inherit;
}
#servicios .card > .card-header,
#servicios .card > div {
  border: #ccc 1px solid;
  border-top: #ccc 0 solid;
}
#servicios .card:first-child > .card-header {
  border-top: #ccc 1px solid;
}
#equipo .list-group-item {
  text-indent: -14px;
  padding-left: 48px;
}
#aseguradoras img {
  max-height: 80px;
  margin: 15px auto;
  filter: grayscale(1);
}
#contacto iframe {
  height: 300px;
}
.llamar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
}
.min-h-100 {
  min-height: 100%;
}
#cookiesms {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  padding: 5px;
  width: 100%;
  z-index: 5;
}
#cookiesms button {
  line-height: 14px;
}
@media (min-width: 576px) {
  #cookiesms {
    top: inherit;
    bottom: 0px;
  }
}
#cookiesms.ocultar-cookies {
  transition: all 0.5s;
  bottom: -40px;
  top: inherit;
  opacity: 0;
}
[onclick] {
  cursor: pointer;
}
