html,
body {
  height: 100%;
}

body > * {
  background-position: center;
  background-size: cover;
}

// Color yiq
@each $name, $value in $theme-colors {
  .bg-#{$name} {
    color: color-yiq($value);
    input::placeholder {
      color: transparentize(color-yiq($value), 0.2);
    }
    .input-group-text {
      color: color-yiq($value);
    }
  }
}
.cover {
  min-height: 100%;
}

.inset-shadowed {
  box-shadow: inset 0px 0px 45px #555;
}

.shadowed {
  box-shadow: 0px 0px 5px #555;
}

.section-aquamarine {
  position: relative;
  color: white;
  background-size: cover;
  background-position: center;
  &:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(
      to bottom right,
      transparentize(theme-color('primary'), 0.1) 0%,
      transparentize(theme-color('secondary'), 0.1) 100%
    );
  }
}

.section-dark {
  position: relative;
  color: map-get($theme-colors, 'light');
  background-size: cover;
  background-position: center;
  &:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'dark'), 0.75);
  }
}

.section-light {
  position: relative;
  color: map-get($theme-colors, 'dark');
  background-size: cover;
  background-position: center;
  &:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'light'), 0.75);
  }
}

.section-parallax {
  background-attachment: fixed;
}

.bg-aquamarine {
  background: linear-gradient(
    -30deg,
    transparentize(theme-color('secondary'), 0.1) 0%,
    transparentize(theme-color('primary'), 0.1) 50%,
    transparentize(theme-color('primary'), 0.05) 100%
  );
  color: white;
}

.img-thumbnail {
  border: 0px;
  padding: 10px;
}

.carousel {
  .carousel-caption {
    padding-top: 50px;
    padding-bottom: 20px;
    bottom: 0px;
    background: linear-gradient(
      transparent 10%,
      transparentize(theme-color('dark'), 0.05) 100%
    );
  }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 0.85;
  }
  .carousel-indicators {
    bottom: 0px;
  }
}

/* Animate state between .navbar and .navbar-ontop */

.navbar {
  transition: background-color 0.5s ease-out;
}
.navbar-ontop {
  background-color: transparent !important;
}

/* Animate on entrance */

.animate-in-down {
  transition: all 1.3s ease-out;
  position: relative;
  opacity: 1;
  top: 0px;
}
.animate-in-down.out-of-viewport {
  top: 40px;
  opacity: 0;
}
.animate-in-left {
  transition: all 1s ease-out;
  position: relative;
  opacity: 1;
  left: 0%;
}
.animate-in-left.out-of-viewport {
  opacity: 0;
  left: -5%;
}
.animate-in-right {
  transition: all 1s ease-out;
  position: relative;
  opacity: 1;
  left: 0%;
}
.animate-in-right.out-of-viewport {
  opacity: 0;
  left: 5%;
}
